<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="team-text">
        <h2>За ці приколи або, як їх називають ЛАБОРАТОРНІ РОБОТИ,<br>
            відповідалні два брати-акробати: </h2>
    <div>

    <div class="team-members">
        <div class="gallery">
            <a href="yar.jpg">
                <img src="yar.jpg">
            </a>
            <div class="desc">Коваль Ярослав</div>
        </div>
        
        <div class="gallery">
            <a href="bogdan.jpg">
                <img src="bogdan.jpg">
            </a>
            <div class="desc">Гілевич Богдан</div>
        </div>
    </div>

    <h3><a class="to-html" href = "/static">Туди</a></h3>
</body>
</html>