<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img class="cat" src="https://www.epochtimes.com.ua/sites/default/files/field/image/11-2021/1_durn_cat.jpg">
        <h3 class="cat-say">Хехехе, я бачу ти потрапив на мою сторінку.<br> 
            Будь гарною людинкою та пригости милого котика смаколиком,<br>
        <a href="https://ikorka.kiev.ua/ua/p692639284-osetrovaya-ikra-500.html">тицяй тут!</a></h3>
    </div> 
    <div class="to-ejs">
        <h3><a href = "/">Сюди</a></h3>
    </div>
</body>
</html>